
body{
    background-color: #FFB7CE;
}

.chat-container {
    max-width: 600px;
    margin: 10px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.chat-header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.chat-messages {
    padding: 20px;
    height: 400px;
    overflow-y: scroll;
}

.message {
    background-color: #f1f1f1;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.chat-input {
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
}

.chat-input input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.chat-input button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.chat-input button#image-upload-button {
    background-color: #007bff;
}

.chat-image {
    max-width: 100%;
    border-radius: 8px;
    margin: 10px 0;
}
