body{
    background-color: #FFB7CE;
}


.container {
    text-align: center;
    padding: 20px;
}

.carousel {
    width: 80%;
    margin: 0 auto;
}

.image-card {
    padding: 10px;
}

.image-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
